name: Build Windows Binary

on:
  push:
    tags: ['v*']

jobs:
  build-windows:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
        
    - name: Install mingw-w64 and dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y mingw-w64 pkg-config zip unzip
        
    - name: Build PortAudio
      run: |
        wget -q http://www.portaudio.com/archives/pa_stable_v190700_20210406.tgz
        tar -xf pa_stable_v190700_20210406.tgz
        cd portaudio
        ./configure --host=x86_64-w64-mingw32 --enable-static --disable-shared
        make
        sudo cp include/portaudio.h /usr/x86_64-w64-mingw32/include/
        sudo cp lib/.libs/libportaudio.a /usr/x86_64-w64-mingw32/lib/
        cd ..
        
    - name: Build Opus
      run: |
        wget -q https://archive.mozilla.org/pub/opus/opus-1.3.1.tar.gz
        tar -xf opus-1.3.1.tar.gz
        cd opus-1.3.1
        ./configure --host=x86_64-w64-mingw32 --enable-static --disable-shared
        make
        sudo cp include/opus.h /usr/x86_64-w64-mingw32/include/
        sudo cp include/opus_types.h /usr/x86_64-w64-mingw32/include/
        sudo cp include/opus_defines.h /usr/x86_64-w64-mingw32/include/
        sudo cp .libs/libopus.a /usr/x86_64-w64-mingw32/lib/
        cd ..
        
    - name: Build Go application
      run: |
        export GOOS=windows
        export GOARCH=amd64
        export CGO_ENABLED=1
        export CC=x86_64-w64-mingw32-gcc
        export CXX=x86_64-w64-mingw32-g++
        
        go build -ldflags="-extldflags=-static" -v -o app.exe
        
    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: windows-app
        path: app.exe
