name: Build with xgo

on:
  push:
    tags: ['v*']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Build with xgo
      uses: crazy-max/ghaction-xgo@v2
      with:
        go_version: 1.21
        platform: windows/amd64
        ldflags: -extldflags=-static
        args: -v -o app.exe
        
    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: windows-app
        path: app.exe
