name: Build Windows
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.5'

      - name: Build (static)
        shell: bash
        run: |
          # Скачиваем и распаковываем портаудио
          curl -L -o pa.zip "https://github.com/PortAudio/portaudio/archive/refs/tags/v19.7.0.zip"
          7z x pa.zip -opa
          
          # Скачиваем opus
          curl -L -o opus.zip "https://archive.mozilla.org/pub/opus/opus-1.3.1-windows.zip"
          7z x opus.zip -oopus
          
          export CGO_ENABLED=1
          export CGO_CFLAGS="-I./pa/portaudio-19.7.0/include -I./opus/include"
          export CGO_LDFLAGS="-L./pa/portaudio-19.7.0/lib -L./opus/lib -lportaudio -lopus"
          go build -o viz.exe main.go

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: viz-windows
          path: viz.exe
