name: Build Windows
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install vcpkg dependencies
        run: |
          git clone https://github.com/Microsoft/vcpkg.git
          .\vcpkg\bootstrap-vcpkg.bat
          .\vcpkg\vcpkg install portaudio opus

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.5'

      - name: Build
        shell: cmd
        run: |
          set CGO_ENABLED=1
          set CGO_CFLAGS=-I.\vcpkg\installed\x64-windows\include
          set CGO_LDFLAGS=-L.\vcpkg\installed\x64-windows\lib -lportaudio -lopus
          go build -o viz.exe main.go

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: viz-windows
          path: viz.exe
