name: Build Windows
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.24.5'
      - run: go build -o viz.exe main.go
      - uses: actions/upload-artifact@v4
        with:
          name: viz-windows
          path: viz.exe
